################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SellersAPI/.vs
/SellersAPI/SellersAPI/bin
/SellersAPI/SellersAPI/obj

.fake
/SellersAPI/SellersAPI.Tests/bin
/SellersAPI/SellersAPI.Tests/obj
/SellersAPI/SellersAPI.Tests.Database/bin
/SellersAPI/SellersAPI.Tests.Database/obj
*.dbmdl
/SellersAPI/SellersAPI.Tests.Database/Import Script Logs
*.jfm
