################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SellersAPI/.vs
/SellersAPI/SellersAPI/bin
/SellersAPI/SellersAPI/obj

.fake